body{
    background:#f4f3f4;
    color:#222;
}

.main_wrap{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    width:100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding:6vh 4vw;

}
.user_outer{
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: center;
}
.user{
    display: flex;
    align-items: center;
    gap:20px;
}
.nogap{
    gap:0px;
}
.buttons{
    display: flex;
    align-items: center;
    gap:20px;
    margin:30px 0px;
    position: relative;
}
.buttons .select{
    display: flex;
    flex-direction: column;
    gap:10px;
    width:150px;
    transition: all 300ms;
    overflow: hidden;

}
.buttons .select img{
    margin:auto;
}
.main_wrap button{
    border:1px solid #222;
    background:#f4f3f4;
    padding:10px 15px;
    border-radius: 30px;
    width:150px;
    transition: all 200ms;
    
}
.main_wrap button:hover{
    background:#222;
    color:#fff;
}
.buttons .select.hide{
   width:0px;
   opacity:0;
}
.computer .c-rock{
    display:none;
}
.computer .c-paper{
    display:none;
}
.computer .c-scissors{
    display:none;
}
.computer{
    display: flex;
    flex-direction: column;
    gap:10px;
    width:0px;
   opacity:0;
   transition: all 200ms;
   align-items: center;
    font-weight: bold;
}
.computer img{
    margin:auto;
}
.computer.show{
    width:150px;
    opacity:1;
}
.computer.show.rock .c-rock{
    display:block
}
.computer.show.paper .c-paper{
    display:block
}
.computer.show.scissors .c-scissors{
    display:block
}
.versus{
    width:0px;
   opacity:0;
   transition: all 200ms;
   font-size: 40px;
   text-align: center;
}
.versus.show{
    width:50px;
    opacity:1;
}

.overlay{
    opacity: 0;
    display: none;
    position: absolute;
    width:100%;
    height:100%;
    background:rgba(240,240,240,0.9);
    transition: all 500ms;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    gap:20px;
}
.overlay button{
    font-size: 18px;
}
.overlay.showit{
    display: flex;
}
.overlay.fadein{
    opacity: 1;
}