.home, .our-products-page{
    padding-top:0px;
    .navbar-container{
        background:transparent;
        border-bottom:none;
        .desktop-nav .navbar-menu li a{
            color:#FBF9F5;
        }
        .top_logo{
            height:80px;
            margin-top:15px;
        }
        
    }
    .mobile-menu-toggle .burger-line {
        background-color: #FBF9F5; 
    }
    .nav-normal{
        background:#FBF9F5;
        border-bottom:rgba(40,40,40,0.1) 1px solid;
        .desktop-nav .navbar-menu li a{
            color:#D1082A;
        }
        .top_logo{
            margin-top:0px;
            height:60px;
        }
        .mobile-menu-toggle .burger-line {
            background-color: #D1082A;
        }
        .mobile-menu-toggle.active .burger-line {
            background-color: #FBF9F5;
        }
    }
    .hero{
        position:relative;
        margin:10px;
        border-radius:48px;
        overflow: hidden;
        display: flex;
        min-height:calc(100vh - 20px); 
        align-items: center;
        .hero-image{
            top:0px;
            left:0px;
            position: absolute;
            width:100%;
            height:100%;
            object-position: center;
            object-fit: cover;
        }
        .hero-inner{
            position: relative;
            z-index: 2;
            color:#fff;
            padding:20px;
        }
        .overlay{
            top:0px;
            left:0px;
            position: absolute;
            width:100%;
            height:100%;
            background:rgba(20,20,20,0.2);
            background: linear-gradient(rgba(20,20,20, 0.4) 0%, rgba(20,20,20, 0) 100%);
            z-index: 1;
        }
    }
    .in_numbers{ 
        margin:20px 10px; 
        border-top:0.5px solid rgba(20,20,20,0.4);
        border-bottom:0.5px solid rgba(20,20,20,0.4);
        
        padding:40px 20px;
        .num_desc{
            font-family: "Playfair Display", serif;
            font-weight: 400;
            font-size: 48px;
            line-height: 1.2em;
            margin-bottom:20px;
        }
        .numbers_block{
            display: flex;
            flex-direction: row;
            gap:20px;
            justify-content: space-around;
        }
    }
   .text_image{
        margin:20vh 5vw;
        
        .text{
            padding-right:3vw;
        }
        .image{
            margin-right:3vw;
            height:32vw;
            overflow: hidden;
            border-radius:48px;
            img{
                width:100%;
            }
        }
   }

   .image_interactive{
        position: relative;
        height:48vw;
        overflow: hidden;
        margin:10px;
        border-radius: 24px;
        .image{
            width:100%;
            height:100%;
            object-fit: cover;
            object-position: center;
        }
        .plus_icon{
            position: absolute;
            width:50px;
            height:50px;
            
            color:#FBF9F5;
            
            z-index: 2;
            cursor: pointer;
            
            
            .inner{
                transition: all 0.4s ease;
                background: #D1082A;
                display: flex;
                align-items: start;
                justify-content: center;
                padding-top:6px;
                font-size: 32px;
                line-height: 1em;
                width:100%;
                height:100%;
                border-radius: 50px;
            }
            &:after{
                transition: all 0.4s ease;
                content:attr(data-content);
                position: absolute;
                bottom:60px;
                font-size: 16px;
                line-height: 1.2em;
                background:#222;
                width:250px;
                text-align: center;
                padding:15px;
                border-radius: 12px;
                opacity:0;

            }
        }
        #icon_1{
            top:20vw;
            right:30vw;
        }
        #icon_2{
            bottom:20vw;
            left:20vw;
        }
        .active{
            .inner{
                transform: rotate(45deg);
                background: #222;
            }
            
            &:after{
               
                opacity:1;
            }
        }
   }

   .faq_block{
        margin:20px 10px;
        border-radius: 24px;
        background:#F2EEE5;
        padding:88px;
   }
   .accordion{
    background-color:transparent;
    border-radius: 0px;
    .accordion-item{
        border-radius: 0px;
        background-color:transparent;
        border:none;
        outline:none !important;
        border-bottom:0.5px solid #222;
        .accordion-header{
            outline:none !important;
            .accordion-button{
                background-color:transparent;
                box-shadow: none;
                border:none;
                outline:none !important;
                font-size: 32px;
                padding:15px 0px;
                &:not(.collapsed) {
                    color:#222;
                    opacity:0.8;
                }
            }
        }
        
    }
    .accordion-item:first-child{
        border-top:0.5px solid #222;
    }
    .accordion-body{
        padding-left:0px;
        padding-right:0px;
    }
   }

   .product_text{
        position: relative;
        &.sticky{
            position: fixed;
            top:200px;  
        }
   }
   .right_side{
        .image{
            margin-bottom:30px;
        }
   }
}

.our-products-page{

    .text_row{
        margin:80px 10px;
    }
    .featured_block_row{
        margin:10px 5vw;
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-auto-rows: 1fr;
        gap:20px;
        
    }
    .feature_block{
        display: flex;
        flex-direction: column;
        height:100%;
        .image{
            overflow: hidden;
            border-top-left-radius: 48px;
            border-top-right-radius: 48px;
            height:50vh;
            position: relative;
            flex-shrink: 0;
            .overlay{
                position: absolute;
                width: 100%;
                height:100%;
                top:0px;
                left:0px;
                background:rgba(20,20,20,0.4);
                background: linear-gradient(rgba(20,20,20, 0) 50%, rgba(20,20,20, 0.7) 100%);
                color:#F2EEE5;
                display: flex;
                align-items: end;
                padding:30px 4vw;
            }
            img{
                width: 100%;
                height:100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .text{
            flex:1;
            padding:50px 4vw;
            background:#F2EEE5;
            border-bottom-left-radius: 48px;
            border-bottom-right-radius: 48px;
        }
    }

    .cuts_block{
        margin:160px 8vw;
        .intro{
            margin-top:40px;
            padding-right:40px;
            margin-bottom:40px;
            h4{
                color:#D1082A;
                font-family: "Inter", sans-serif;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
        
        .cut_grid{
            display: grid;
            grid-template-columns:repeat(3, 1fr);
            gap:20px;
        }
        .cut_type{
            position: relative;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            height:240px;
            width:100%;
            border:0.5px solid #222;
            border-radius:16px;
            
            .front, .back {
                position: absolute; 
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                overflow: hidden;
                width:100%;
                padding:20px;
            }
            .front{
                transform: rotateY(0deg);
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:12px;
                
                img{
                    width:170px;
                }
            }
            .back{
                transform: rotateY(180deg);
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: space-between;
                height:100%;
                gap:10px;
                font-size: 14px;
                padding-left:30px;
                padding-right:30px;
                img{
                    width:60px;
                }
                .inner{
                    display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap:10px;
                }
            }
        }
        .flipped{
             transform: rotateY(180deg);
        }
        .btn{
            padding:8px 30px 8px 12px;
            font-size: 14px;
            border-radius:24px;
            text-decoration: none;
            transition: all 0.3s ease;
        }
        .btn-secondary{
            &:after{
                right:10px;
                top:10px;
            }
        }
    }

    .product_form{
        background:#F2EEE5;
        margin-top:32px;
        padding:30px 8vw;
        display: flex;
        flex-direction: row;
        gap:60px;
        align-items: center;
        justify-content: start;
        .brochure_form{
            a{
                color:#D1082A;
                text-decoration: none;
                border-bottom:1px solid #D1082A;
            }
            form{
                display: flex;
                flex-direction: row;
                gap:24px;
            }
            .validation_msg{
                font-size: 14px;
                color:#D1082A;
                height:20px;
            } 
            input[type=text],input[type=email]{
                background:none;
                border:none;
                border-bottom:0.5px solid #222;
                padding:10px 0px;
            }
            input[type=submit]{
                padding:8px 30px 8px 12px;
                font-size: 14px;
                border-radius:24px;
                text-decoration: none;
                transition: all 0.3s ease;
                text-align: center;
                color:#FBF9F5;
                background:#222 url('../images/white-arrow.svg') no-repeat center right 10px;
                position: relative;
                border:1px solid #222;
                margin-bottom:auto;
                
            }
        }
    }

}

@media (max-width: 1400px) {
    .our-products-page{
        .cuts_block{
            .cut_type{
                .back{
                    gap:2px;
                }
            }
        }
        .product_form{
            flex-direction: column;
            .brochure_text{
                text-align: center;
            }
        }
    } 
}

@media (max-width: 991px) {
    .home, .our-products-page{
        .text_image{
            .text{
                padding-right:0px;
            }
            .image{
                border-radius:24px;
                height:55vw;
                margin-bottom:30px;
                margin-right:0px;
            }
        }
        .image_interactive{
            border-radius:24px;
            height:75vw;
            margin:30px;
        }
        .faq_block{
            padding:30px 20px;
            margin:30px;
            .cta_block{
                margin-bottom:40px;
            }
        }
        .accordion{
            .accordion-item{
                .accordion-header{
                    .accordion-button{
                        font-size: 24px;
                    }
                }
            }
        }
        .text_image .image{
            height:60vw;
            border-radius:24px;
        }
    }
    .our-products-page{
        .featured_block_row{
            display: flex;
            flex-direction: column;
            .feature_block{
                .text{
                    padding:25px;
                }
            }
            .image .overlay{
                padding:15px 25px;
            }
        }

       
      .cuts_block{
        .cut_grid{
            grid-template-columns:repeat(2, 1fr);
            gap:10px; 
        }
        
        }   
         .product_form{
            .brochure_form form {
                display: grid;
                grid-template-columns:repeat(2, 1fr);
                gap:10px; 
            }
         }
    
        
    }
     .home{
        .in_numbers{ 
            .num_desc{
                line-height: 1em;
                margin-bottom:30px;
            }
            .numbers_block{
                display:grid;
                grid-template-columns:repeat(2, 1fr);
            }
        }
    }
    .home .text_image, .our-products-page .text_image {
        margin: 10vw 5vw;
    }
    
    
    
}

@media (max-width: 768px) {
    .our-products-page{
        .cuts_block{
            .cut_grid{
                grid-template-columns:repeat(1, 1fr);
                gap:20px; 
            }
        }   
        .product_form{
            .brochure_form form {
                display: grid;
                grid-template-columns:repeat(1, 1fr);
            }
         }
    }
    .home{
        .plus_icon{
            display: none;
        }
    }
   
}
