
/* red: #D1082A */

body{
    background:#FBF9F5;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}
.align-center{
    align-items:center;
}
/* headings */
h1,h2,h3,h4,h5,h6{
    font-family: "Playfair Display", serif;
    font-weight: 500;
}
h1{
    font-size: 80px;
    line-height: 1.2em;
}
h2{
    font-size: 42px;
    line-height: 1.2em;
    margin-bottom:24px;
}
/* navigation */
.navbar-header{
    display:flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    top:0px;
    left:0px;
}
.navbar-container{
    transition: all 0.3s ease;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px 50px; 
    border-bottom:rgba(40,40,40,0.1) 1px solid;
    background:#FBF9F5;
}
.navbar-container .top_logo{
    transition: all 0.3s ease;
    height:60px;
}
.desktop-nav .navbar-menu{
    display: flex;
    list-style: none;
    padding:0px;
    margin:0px;
    gap:40px;
}

.desktop-nav .navbar-menu li a{
    color:#D1082A;
    text-decoration: none;
    font-size:16px;
    font-weight: 400;
}
.desktop-nav .navbar-menu li a:hover{
    opacity:0.7;
}
.desktop-nav .navbar-menu li a.active{
    font-weight: bold;
}

.navbar-container .right_nav{
    display: flex;
     gap:4vw;
     align-items: center;
}



.mobile-menu-toggle{
    display: none;
}

.mobile-menu-toggle{
    position: absolute;
    right: 40px;
    z-index: 50;
    display: none;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: none;
    background-color: transparent;
}
.mobile-menu-toggle .burger-line{
    height: 0.125rem;
    width: 1.5rem;
    --tw-bg-opacity: 1;
    background-color: #D1082A;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center center;
}
.mobile-menu-toggle .burger-line:not(:last-child) {
    margin-bottom: 0.25rem;
}

.mobile-menu-toggle.active .burger-line:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }
    
 .mobile-menu-toggle.active    .burger-line:nth-child(2) {
        opacity: 0;
    }
    
.mobile-menu-toggle.active     .burger-line:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
.mobile-menu-toggle.active .burger-line{
    background-color:#FBF9F5;
}


.mobile_nav_wrapper{
    position: fixed;
    width:100%;
    height: 100%;
    top:0px;
    left:0px;
    transform: translateX(100%);
    background:#D1082A;
    color:#FBF9F5;
    display: none;
    justify-content: center;
    align-items: start;
    padding:20vh 20px 20px 20px;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile_nav_wrapper.active{
    transform: translateX(0%);
}
.mobile-navbar-menu{
    list-style: none;
    padding:0px;
    margin:0px;
    text-align: center;
    font-size: 24px;
}
.mobile-navbar-menu > li{
    padding:10px;
}
.mobile-navbar-menu > li > a{
    color:#FBF9F5;
    text-decoration: none;
}

/* main content */
.main_wrap{
    padding-top:100px;
}


.main{
    min-height:80vh;
}

/* buttons */

.cta_block{
    display: flex;
    gap:20px;
    margin-top:30px;
}

.btn{
    padding:12px 40px 12px 24px;
    border-radius:24px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.btn-primary{
    background:#222;
    color:#FBF9F5;
    border:1px solid #222;
    display: flex;
    align-items: center;
    position: relative;
    &:after{
        content:url('../images/white-arrow.svg');
        transition: all 0.3s ease;
        position: absolute;
        right:16px;
        top:15px;
    }
    &:hover{
        background:#D1082A;
        border:1px solid #D1082A;
        &:after{
            right:12px;
        }
    }
}
.btn-secondary{
    background:none;
    color:#222;
    display: flex;
    align-items: center;
    position: relative;
    border:1px solid #222;
    &:after{
        content:url('../images/black-arrow.svg');
        transition: all 0.3s ease;
        position: absolute;
        right:16px;
        top:15px;
    }
    &:hover{
        background:#222;
        color:#FBF9F5;
        &:after{
            content:url('../images/white-arrow.svg');
            right:12px;
        }
    }
}

/* footer */

.arrow_up{
    position: fixed;
    bottom:40px;
    right:40px;
    opacity:0;
    transition: all 0.3s ease-out;  
    cursor: pointer;
}
.arrow_up.show{
    opacity:1   ;
}
.footer{
    background:#D1082A;
    color:#fff;
    padding:50px 15vw 50px 50px;
    display: flex;
    justify-content: space-between;

}
.footer ul{
    list-style: none;
    padding:0px;
    margin:0px;
}
.footer .footer_right{
    display: flex;
    justify-content: space-between;
    gap:100px;
}
.footer .footer_left img{
    margin-bottom:30px;
}
.footer a{
    color:#fff;
    text-decoration: none;
}

.container_header{
    padding:30px 0px;
}



/* fade animations */

.fade-in, .fade-in-now, .fade-up, .fade-left, .fade-right {
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease-out;
}

.fade-in-now {
  transition: all 0.8s ease-out;
}

.fade-up {
  transform: translateY(30px);
}

.fade-left {
  transform: translateX(-50px);
}

.fade-right {
  transform: translateX(50px);
}


.fade-in.visible, .fade-in-now.visible {
  opacity: 1;
  visibility: visible;
}

.fade-up.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.fade-left.visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.fade-right.visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}


.hero-content.fade-in.visible,
.hero-content.fade-up.visible,
.hero-content.fade-left.visible,
.hero-content.fade-right.visible {
  transform: translateX(-50%) translateY(-50%);
}

.hero-content.fade-up {
  transform: translateX(-50%) translateY(calc(-50% + 30px));
}

.hero-content.fade-left {
  transform: translateX(calc(-50% - 50px)) translateY(-50%);
}

.hero-content.fade-right {
  transform: translateX(calc(-50% + 50px)) translateY(-50%);
}


.fade-left::before,
.fade-left::after {
  transition: inherit;
}

.fade-right::before,
.fade-right::after {
  transition: inherit;
}

.fade-up::before,
.fade-up::after {
  transition: inherit;
}



/* mobile */

@media (max-width: 960px) {

    h1{
        font-size: 50px;
        line-height: 1.2em;
    }
    h2{
        font-size: 32px;
        line-height: 1.2em;
        margin-bottom:24px;
    }

    .desktop-nav{
        display: none;
    }
    .mobile_nav_wrapper{
        display: flex;
    }
    .navbar-container .right_nav{
        margin-right:40px;
    }
    .mobile-menu-toggle{
        display: flex;
    }
    .footer{
        display: block;
    }
    .footer .footer_right{
        display: block;
    }
}

@media (max-width: 1200px) {
    h1{
        font-size: 60px;
        line-height: 1.2em;
    }
}

@media (max-width: 960px) {
    h1{
        font-size: 50px;
        line-height: 1.2em;
    }
}
