.contact-top{
	padding:40px;
}

.map iframe{
    width:100%;
    height:80vh;
}
.map{
	position: relative;
}
.map .map_content{
    position:absolute;
    right:20px;
    top:20px;
    background:#ffffff;
    padding:30px;
    box-shadow: 5px 10px 18px #888888;
	border-radius: 25px;
	padding: 20px;
	width: 200px;
	height: 200px;
}

.map .map_content1{
    position:absolute;
    right:20px;
    top:20px;
    background:#ffffff;
    padding:30px;
    box-shadow: 5px 10px 18px #888888;
	border-radius: 25px;
	padding: 20px;
	width: 200px;
	height: 200px;
}

.map .map_content:hover{
    position:absolute;
    right:20px;
    top:20px;
    background:#D1082A;
    padding:30px;
    box-shadow: 5px 10px 25px #888888;
	border-radius: 25px;
	padding: 20px;
	width: 200px;
	height: 200px;
	transform:scale(1.10);
	color:white;
}
.map .map_content1:hover{
    position:absolute;
    right:20px;
    top:20px;
    background:#D1082A;
    padding:30px;
    box-shadow: 5px 10px 25px #888888;
	border-radius: 25px;
	padding: 20px;
	width: 200px;
	height: 200px;
	transition:scale(1.10);
	transform:ease;
	transition-duration:1s;
	color:white;
}

.middle{
	padding-bottom:20px;
	padding-top:20px;
}

.contact-img-shan{
	padding-bottom:15px;
	padding-right:20px;
}

.container-fluid{
	position:relative;
}

.social-media{
	float:start;
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	padding-left:10px;
}

.padding-social{
	position:relative;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
	padding-bottom:30px;
}

.link{
	position:relative;
}

.form{
	padding-left:20px;
}

.form-text{
	justify-content:flex;
	text-align:center;
	align-content:center;
	font-size:150%;
}

#form-submission-complete{
	display:none;
	justify-content:center;
	vertical-align:centre;
	padding-top:180px;
	text-align:center;
	font-size:200%;
}

.contact-heading{
	
	
}

.about-linkedin{
	padding-bottom:4px;
}

.social-images{
	padding:20px;
	text-align:center;
	display: flex;
	gap:20px;
}
.social-image{
	flex: 1;  
    min-width: 0;    
    max-width: 100%;  
    height: auto;
    object-fit: cover;
}

.mid-section{
	padding-top:20px;
	padding-bottom:20px;
	padding-right:100px;
	padding-left:100px;
	background:#F2EEE5;
	border-radius:25px;
	margin:15px;
	align-items:center;
	display:flex;
}

.accordion-header{
	text-align:center;
	align-content:center;
	display:center;
}

.accordion{
	color:black;
	--bs-accordion-btn-bg: #F2EEE5;
	--bs-accordion-active-bg: #F2EEE5;
}

.accordion-body{
	background-color:#F2EEE5;
}

.accordion-button{
	--bs-accordion-active-color:black;
	color:black;
	border-radius:0px;
}

.carousel{
	padding-bottom:20px;
	padding-left:50px;
	padding-right:50px;
	padding-top:20px;
	width:1200px;
	margin:auto;
}

.carousel-images{
	border-radius:25px;
}

.text-left-accordian{
	margin:auto;
	justify-content:left;
	align-items:start;
	line-height:1.9;
}

.bottom-buttons{
	padding:20px;
	display:flex;
	justify-content:space-between;
	background:#F2EEE5;
	border-radius:25px;
}

.btn{
	background:#D1082A;
	border:5px;
	color:white;
}

.btn:hover{
	background:#700716;
	color:white;
	border:none;
	transform:scale(1.10);
}

.contact-btn{
	padding-bottom:20px;
}

@media (max-width: 960px) {
    .image-2{
        display:none
    }
	.image-3{
        display:none
    }
    .contact-img-shan{
		display:none;
	}
    .footer{
        display: block;
    }
    .footer .footer_right{
        display: block;
    }
}

@media (max-width: 1100px) {
    .contact-img-shan{
		display:none;
	}
	.carousel{
		width:737px;
		height:425px;
	}
}

@media (max-width: 850px) {
    .image-2{
        display:none
    }
	.image-3{
        display:none
    }
    .contact-img-shan{
		display:none;
	}
	.carousel{
		width:737px;
		height:425px;
	}	
	.map .map_content{
		display:none;
	}
}

@media (max-width: 1170px) {
    .image-2{
        display:none
    }
}

@media (max-width: 700px){
	.carousel{
		width:550px;
		height:317px;
	}
}


