body{
    background:#f4f3f4;
    color:#222;
}

.main_wrap{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    width:100%;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding:6vh 4vw;

}
h1{
    font-weight: bold;
}
button{
    border:2px solid #222;
    background:#f4f3f4;
    padding:10px 15px;
    border-radius: 30px;
    width:150px;
    transition: all 200ms;
    margin:30px 0px;
    
}
button:hover{
    background:#222;
    color:#fff;
}

.lyrics div{
    margin-bottom:20px;
}

.lyric_line{
    opacity: 0;
    transition: all 600ms;
}

.show{
    opacity: 1;
}

