body{
    background:#f4f3f4;
    color:#222;
}

.main_wrap{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    width:100%;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding:6vh 30vw;

}
h1{
    font-weight: bold;
}

.form-group{
    margin:20px 0px;
    
    text-align: left;
}
label{
    margin-bottom:5px;
}

.form_btn{
    background:#222;
    color:#fff;
    width:100%;
}
.form_btn:hover{
    background:#00f;
    color:#fff;
}
.form_btn:focus{
    background:#00f;
    color:#fff;
}

.form_container .inner{
    text-align: left;
    font-size: 21px;
    line-height: 1.2em;
}



.grades{
    display:none;
}


.table_wrap{
    width:100%;
    margin-top:0px;
   
}

.table_wrap_inner{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-top:50px;
    text-align: left;
}

.table_wrap .table{
  width:100%;
}

.table_wrap .table thead{
    width:100%;
}
.table_wrap .table tbody{
    width:100%;
}


.show{
    display:block;
}
.hide{
    display:none;
}


.progress_bar{
    margin:50px 0px;
    width:400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.progress_bar .circle{
    position: relative;
    background:#f4f3f4;;
    border:1px solid #222;
    color:#222;
    display: flex;
    width:50px;
    height:50px;
    align-items: center;
    justify-content: center;
    border-radius:50px;
}
.progress_bar .circle.active{
    background:#222 !important;
    color:#f4f3f4;
}

.progress_bar .line{
    position: absolute;
    top:49%;
    left:0px;
    height:1px;
    width:100%;
    background:#222;
}
